version: "3.9"

services:

  django:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: django_backend
    command: >
      sh -c "python manage.py migrate &&
            daphne -b 0.0.0.0 -p 8002 core.asgi:application"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    ports:
      - "8002:8002"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started




  celery:
    build:
      context: ./backend
      dockerfile: Dockerfile.celery
    container_name: celery_worker
    command: celery -A core worker --loglevel=info
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - postgres
      - django

  celery_beat:
    build:
      context: ./backend
      dockerfile: Dockerfile.celery
    container_name: celery_beat
    command: celery -A core beat --loglevel=info
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - redis
      - postgres
      - django


  redis:
    image: redis:7
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  postgres:
    image: pgvector/pgvector:pg15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: talento_db
      POSTGRES_USER: talento_user
      POSTGRES_PASSWORD: talento_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U talento_user -d talento_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5433:5432"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - django


volumes:
  postgres_data:
