.input {
  @apply w-full rounded-lg border border-gray-300 px-3 py-2 text-sm
         focus:outline-none focus:ring-2 focus:ring-black
         disabled:bg-gray-100 disabled:text-gray-700
         disabled:opacity-100;
}


.textarea {
  @apply w-full rounded-lg border border-gray-300 px-3 py-2 text-sm
         focus:outline-none focus:ring-2 focus:ring-black
         disabled:bg-gray-100 disabled:text-gray-600;
}
